{%- assign url_components = page.url | split: "/" -%}
{%- assign orig_lang = url_components[1] -%}
{%- assign page_url = page.path | replace: '.md', '' | split: '/' | shift | join: '/'%}
{%- assign all_pages = site.pages -%}
{%- assign all_de_pages = site.pages | where: 'lang', 'de' -%}
{%- assign all_en_pages = site.pages | where: 'lang', 'en' -%}
{%- if page.lang == 'en'-%}
    {%- assign isTranslated = all_de_pages | find_exp:'page', 'page.path contains page_url'-%}
{%- else-%}
    {%- assign isTranslated = all_en_pages | find_exp:'page', 'page.path contains page_url'-%}
{%-endif%}

<footer class="lang-options">
    {%- if isTranslated-%}
        <em>{{ site.data.translations['langToggle'][page.lang]}}</em>
        {% for lang in site.data.languages %}
            {%if lang[0] != page.lang%}
                <a href="/{{lang[0]}}{{page_url | relative_url }} " title="switch language {{lang[0]}}"> {{ lang[0] }}</a>
            {%else%}
                <span>{{page.lang}}</span>
            {%endif%}
            {% if forloop.index ==1%} {{'|'}} {%endif%}
        {% endfor %}
    {%- endif-%}
</footer>

<!-- detect default lang in browser-->
{% unless page.lang %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const userLang = navigator.language || navigator.userLanguage;
        const isGerman = userLang.includes('de');
        let browserUrl = "";
        if (isGerman) {
            browserUrl = "{{ site.url }}{{site.baseurl}}de/";
            console.log(browserUrl)
            console.log("locaation.path", location.path)
            // window.location.href = "{{ site.url }}{{site.baseurl}}de/"
        }
        else {
            browserUrl = "{{ site.url }}{{site.baseurl}}en/";
            // window.location.href = "{{ site.url }}{{site.baseurl}}en/"
            console.log(browserUrl)
            console.log("locaation.path", location.path)
        }
    }, false);
</script>
{% endunless %}